In [6]:
import pandas as pd
import numpy as np
import timeit
from kernel_fca_oo import FreqLexiSeriateSystem, ConfLexiSeriateSystem, FCASystemDF, KMeansSystem
from IPython.display import display, HTML

In [7]:

#data = pd.read_csv(KATALOOG+"cmp-bin-grocery.csv", sep=',', index_col=0, encoding='latin1')

In [8]:
c_i = range(0, 12)
KATALOOG = "..\\"

fns = ["cmp-bin-iapb09.csv",
       "cmp-bin-STT_majandus.csv",
       "cmp-bin-TTTH_kardlaga.csv",
       "cmp-bin-grocery.csv", 
       "cmp-bin-ecommerce-sampled.csv", 
       "cmp-bin-house-votes-84.csv",
       "cmp-bin-instacart-600-sample.csv",
       "cmp-bin-student-gradings.csv"]

for fn in fns:
    print("\nFile:", fn)
    data = pd.read_csv(KATALOOG+fn, sep=',', index_col=0, encoding='latin1')
    result_df = pd.DataFrame(columns = ["time"] + ["c"+str(i) for i in c_i])
    #systems = {"MS": FCASystemDF(data), "FL": FreqLexiSeriateSystem(data)}
    systems = {"CL": ConfLexiSeriateSystem(data), "FL": FreqLexiSeriateSystem(data)}
    for s_name, system in systems.items():
        start = timeit.default_timer()
        _, uc =  system.conceptchaincover_v2(uncovered=0.1, max_cc=20)
        time = timeit.default_timer() - start
        if len(uc) < len(c_i):
            uc += [np.nan] * (len(c_i) - len(uc))  
        result_df.loc[s_name] = [time] + uc[:len(c_i)]
    #[uc for (_, uc) in zip(system.conceptchaincover())]
    display(result_df)
    result_df.to_csv(path_or_buf=KATALOOG+"res-"+fn)

File: cmp-bin-iapb09.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL,1.556706,0.256524,0.192431,0.169388,0.13429,0.112162,0.105753,0.093850,NaN,NaN,NaN,NaN,NaN
FL,2.126662,0.288418,0.221273,0.200519,0.15657,0.127575,0.111094,0.106974,0.104074,0.099954,NaN,NaN,NaN

File: cmp-bin-STT_majandus.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL,19.972682,0.474560,0.446315,0.431805,0.406849,0.396595,0.370284,0.340298,0.301993,0.278971,0.244922,0.234862,0.226156
FL,20.371239,0.472432,0.444186,0.409170,0.375508,0.352293,0.347263,0.324821,0.313794,0.298704,0.281873,0.272393,0.258270

File: cmp-bin-TTTH_kardlaga.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL,8.353316,0.506842,0.479980,0.467816,0.379118,0.355803,0.308667,0.297010,0.276229,0.240243,0.218956,0.198175,0.191586
FL,8.998523,0.506842,0.453117,0.444501,0.434871,0.399392,0.373036,0.364927,0.360872,0.332995,0.312215,0.296503,0.286366

File: cmp-bin-grocery.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL,3.336747,0.828431,0.759804,0.723039,0.683824,0.625000,0.590686,0.544118,0.502451,0.465686,0.438725,0.428922,0.401961
FL,3.215280,0.828431,0.767157,0.703431,0.654412,0.595588,0.563725,0.546569,0.512255,0.495098,0.450980,0.428922,0.406863

File: cmp-bin-ecommerce-sampled.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL,32.758391,0.891988,0.812306,0.771138,0.727313,0.691899,0.649845,0.620629,0.584329,0.553785,0.526339,0.499336,0.469677
FL,32.476420,0.891988,0.812306,0.766711,0.727756,0.689243,0.653829,0.621514,0.589641,0.560425,0.532537,0.502877,0.471890

File: cmp-bin-house-votes-84.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL,5.643382,0.831950,0.723029,0.593361,0.441131,0.306535,0.245591,0.193724,0.121629,0.084284,NaN,NaN,NaN
FL,5.380367,0.831172,0.728475,0.634336,0.558091,0.436722,0.320799,0.181017,0.122925,0.084284,NaN,NaN,NaN

File: cmp-bin-instacart-600-sample.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL,18.841522,0.836632,0.797263,0.770526,0.759789,0.723579,0.686526,0.660211,0.638737,0.614526,0.601474,0.580632,0.561053
FL,19.299742,0.837895,0.802947,0.790526,0.751368,0.715789,0.683579,0.655158,0.643579,0.629263,0.605263,0.582526,0.563158

File: cmp-bin-student-gradings.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL,8.140124,0.600918,0.489394,0.428603,0.384649,0.336978,0.304177,0.265253,0.257818,0.218894,0.210365,0.171222,0.156790
FL,8.694629,0.600918,0.489832,0.446971,0.380932,0.339821,0.324295,0.278592,0.274874,0.240105,0.231139,0.216707,0.209928

In [9]:
4000*0.625

2500.0