In [28]:
import pandas as pd
import numpy as np
import timeit
from kernel_fca_oo import FreqLexiSeriateSystem, ConfLexiSeriateSystem, FCASystemDF, KMeansSystem
from IPython.display import display, HTML

In [29]:
df = pd.DataFrame({'a': [0,1,1], 'b': [0,0,1]})
df.sum().sum()

3

In [30]:

#data = pd.read_csv(KATALOOG+"cmp-bin-grocery.csv", sep=',', index_col=0, encoding='latin1')

In [31]:
c_i = range(0, 12)
KATALOOG = "..\\"

fns = ["cmp-bin-zoo.csv",
       "priv2.csv",
       "cmp-bin-iapb09.csv",
       "cmp-bin-STT_majandus.csv",
       "cmp-bin-TTTH_kardlaga.csv",
       "cmp-bin-grocery.csv", 
       "cmp-bin-ecommerce-sampled.csv", 
       "cmp-bin-house-votes-84.csv",
       "cmp-bin-instacart-600-sample.csv",
       "cmp-bin-student-gradings.csv",
       "cmp-bin-taro-1.csv",
       "cmp-bin-taro-2.csv",
       "cmp-bin-taro-3.csv",
       "cmp-bin-taro-4.csv"]

for fn in fns:
    print("\nFile:", fn)
    data = pd.read_csv(KATALOOG+fn, sep=',', index_col=0, encoding='latin1')
    result_df = pd.DataFrame(columns = ["time"] + ["c"+str(i) for i in c_i])
    #systems = {"MS": FCASystemDF(data), "FL": FreqLexiSeriateSystem(data)}
    systems = {"CL": ConfLexiSeriateSystem(data), "FL": FreqLexiSeriateSystem(data)}
    ones = data.sum().sum()
    for s_name, system in systems.items():
        start = timeit.default_timer()
        for method_i, method in  enumerate([system.conceptchaincover, system.conceptchaincover_v2]):
            _, uc = method(uncovered=0.1, max_cc=20)
            time = timeit.default_timer() - start
            if len(uc) < len(c_i):
                uc += [np.nan] * (len(c_i) - len(uc))  
            result_df.loc[s_name+str(method_i+1)] = [time] + uc[:len(c_i)]
    #[uc for (_, uc) in zip(system.conceptchaincover())]
    display(result_df)
    result_df.to_csv(path_or_buf=KATALOOG+"res-"+fn)

File: cmp-bin-zoo.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL1,0.104466,0.574242,0.443939,0.266667,0.187879,0.122727,0.081818,NaN,NaN,NaN,NaN,NaN,NaN
CL2,0.229636,0.574242,0.443939,0.227273,0.128788,0.063636,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FL1,0.104599,0.581818,0.451515,0.275758,0.204545,0.122727,0.066667,NaN,NaN,NaN,NaN,NaN,NaN
FL2,0.240226,0.581818,0.445455,0.378788,0.292424,0.110606,0.068182,NaN,NaN,NaN,NaN,NaN,NaN

File: priv2.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL1,1.062902,0.658955,0.558231,0.487410,0.423198,0.401637,0.372206,0.347025,0.315707,0.285804,0.256374,0.238905,0.215770
CL2,5.719835,0.658955,0.652345,0.643217,0.638968,0.621498,0.606075,0.592698,0.581681,0.576330,0.572238,0.567044,0.564054
FL1,0.971309,0.663676,0.605603,0.560120,0.513535,0.495121,0.437834,0.350016,0.335379,0.284388,0.266604,0.256846,0.239062
FL2,5.245976,0.663676,0.653604,0.649040,0.635505,0.623544,0.612055,0.604501,0.595373,0.587819,0.583097,0.579950,0.565471

File: cmp-bin-iapb09.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL1,0.387285,0.256524,0.195941,0.178086,0.160232,0.146956,0.134900,0.119945,0.109873,0.100565,0.092172,NaN,NaN
CL2,2.032072,0.256524,0.232107,0.216695,0.198535,0.191058,0.179765,0.157790,0.120250,0.104837,0.092935,NaN,NaN
FL1,0.480186,0.288418,0.247368,0.233481,0.176255,0.156875,0.147566,0.130780,0.123455,0.119182,0.114604,0.103617,0.096139
FL2,2.584201,0.288418,0.267358,0.251335,0.233176,0.219289,0.204792,0.179765,0.152449,0.138868,0.126354,0.120250,0.100107

File: cmp-bin-STT_majandus.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL1,2.633061,0.474560,0.449603,0.441091,0.416328,0.362159,0.327336,0.303540,0.285355,0.277036,0.254982,0.243374,0.221513
CL2,6.503942,0.474560,0.440704,0.414587,0.390404,0.362739,0.334881,0.313213,0.289611,0.274521,0.262140,0.228671,0.212807
FL1,2.375461,0.472432,0.409750,0.374154,0.359644,0.345328,0.331012,0.319791,0.268524,0.258851,0.239505,0.232347,0.220352
FL2,6.064014,0.472432,0.438576,0.419423,0.382472,0.353647,0.330625,0.321532,0.293480,0.285548,0.275875,0.260205,0.252080

File: cmp-bin-TTTH_kardlaga.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL1,0.836264,0.506842,0.416624,0.384187,0.342625,0.289914,0.253928,0.231627,0.204764,0.188545,0.181956,0.165737,0.153573
CL2,2.887904,0.506842,0.473391,0.449569,0.413583,0.374557,0.349214,0.313229,0.282818,0.271668,0.252914,0.216929,0.189559
FL1,0.824579,0.506842,0.446021,0.411049,0.393310,0.366954,0.343132,0.332489,0.314749,0.304612,0.238723,0.212874,0.205271
FL2,2.796613,0.506842,0.448555,0.425241,0.397364,0.361885,0.355803,0.348201,0.323365,0.301571,0.287886,0.278256,0.253928

File: cmp-bin-grocery.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL1,0.363518,0.828431,0.759804,0.710784,0.647059,0.602941,0.568627,0.534314,0.497549,0.463235,0.428922,0.404412,0.379902
CL2,1.240087,0.828431,0.759804,0.720588,0.681373,0.622549,0.585784,0.531863,0.490196,0.455882,0.443627,0.406863,0.372549
FL1,0.332987,0.828431,0.767157,0.703431,0.639706,0.580882,0.546569,0.512255,0.487745,0.455882,0.436275,0.409314,0.375000
FL2,1.178869,0.828431,0.767157,0.703431,0.654412,0.593137,0.561275,0.519608,0.485294,0.460784,0.438725,0.414216,0.399510

File: cmp-bin-ecommerce-sampled.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL1,1.798450,0.891988,0.812306,0.771138,0.727313,0.691899,0.649845,0.620629,0.584329,0.557769,0.528552,0.500221,0.470120
CL2,4.111499,0.891988,0.812306,0.771138,0.727313,0.691899,0.649845,0.620629,0.584329,0.553785,0.526339,0.499336,0.469677
FL1,1.878551,0.891988,0.812306,0.766711,0.727756,0.689243,0.653829,0.621514,0.589641,0.560425,0.532537,0.502435,0.471890
FL2,4.178961,0.891988,0.812306,0.766711,0.727756,0.689243,0.653829,0.621514,0.589641,0.560425,0.532537,0.502877,0.471890

File: cmp-bin-house-votes-84.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL1,0.316317,0.831950,0.728734,0.622925,0.446317,0.312500,0.264004,0.200207,0.160010,0.129668,0.100104,0.078320,NaN
CL2,0.681131,0.831950,0.761151,0.675571,0.491961,0.306276,0.234959,0.197873,0.163900,0.115405,0.102697,0.084284,NaN
FL1,0.322685,0.831172,0.696836,0.622407,0.526712,0.451763,0.396006,0.306535,0.260633,0.219917,0.186463,0.143154,0.096214
FL2,0.720328,0.831172,0.765301,0.690612,0.615145,0.550571,0.467842,0.400156,0.352438,0.287344,0.241961,0.180239,0.096732

File: cmp-bin-instacart-600-sample.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL1,1.754769,0.836632,0.796211,0.762316,0.730316,0.700632,0.678947,0.655368,0.633895,0.610947,0.593263,0.576000,0.557263
CL2,4.152429,0.836632,0.790737,0.762526,0.726105,0.697474,0.666737,0.646947,0.624000,0.604211,0.580421,0.564842,0.548421
FL1,1.630475,0.837895,0.796632,0.759789,0.727158,0.697684,0.672211,0.646737,0.625684,0.606105,0.586316,0.570105,0.551579
FL2,3.987341,0.837895,0.797053,0.768842,0.732000,0.703368,0.681684,0.654316,0.631368,0.609263,0.595368,0.573895,0.558737

File: cmp-bin-student-gradings.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL1,0.357989,0.600918,0.490050,0.424229,0.357752,0.308550,0.268751,0.229827,0.196807,0.166193,0.140171,0.119615,0.097748
CL2,0.801148,0.600918,0.527444,0.474306,0.418325,0.355784,0.311612,0.265034,0.233326,0.197463,0.162694,0.147606,0.125082
FL1,0.361613,0.600918,0.504264,0.437787,0.376558,0.317516,0.273125,0.235950,0.202930,0.176689,0.155040,0.133173,0.111305
FL2,0.824637,0.600918,0.523726,0.446753,0.399519,0.347037,0.300241,0.259130,0.233763,0.204680,0.172097,0.152198,0.126394

File: cmp-bin-taro-1.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL1,0.092014,0.86,0.76,0.61,0.52,0.42,0.34,0.25,0.16,0.09,NaN,NaN,NaN
CL2,0.255257,0.86,0.76,0.61,0.52,0.42,0.34,0.25,0.16,0.09,NaN,NaN,NaN
FL1,0.095572,0.85,0.73,0.58,0.49,0.38,0.25,0.19,0.15,0.11,0.08,NaN,NaN
FL2,0.279263,0.85,0.73,0.58,0.52,0.46,0.36,0.29,0.22,0.16,0.13,0.07,NaN

File: cmp-bin-taro-2.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL1,0.117978,0.768,0.556,0.416,0.268,0.172,0.124,0.096,NaN,NaN,NaN,NaN,NaN
CL2,0.308518,0.768,0.580,0.428,0.260,0.160,0.108,0.076,NaN,NaN,NaN,NaN,NaN
FL1,0.120549,0.772,0.516,0.344,0.228,0.188,0.120,0.072,NaN,NaN,NaN,NaN,NaN
FL2,0.303426,0.772,0.584,0.424,0.304,0.192,0.128,0.080,NaN,NaN,NaN,NaN,NaN

File: cmp-bin-taro-3.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL1,0.088809,0.305687,0.168246,0.090047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CL2,0.196194,0.305687,0.149289,0.063981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FL1,0.088177,0.317536,0.161137,0.073460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FL2,0.205160,0.317536,0.135071,0.004739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

File: cmp-bin-taro-4.csv

         time        c0  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10  c11
CL1  0.016296  0.008439 NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN
CL2  0.042028  0.008439 NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN
FL1  0.015900  0.014768 NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN
FL2  0.038242  0.014768 NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN

In [32]:
4000*0.625

2500.0